.web-logo {
    width: 40px;
    margin-left: 25px;
    margin-right: 25px;
}

.N1 {
    font-family: Ms Madi;
    text-align: center;
    font-size: 300%;
    cursor: pointer;
    margin: 35px;
}

.about-me {
    font-family: Shadows Into Light;
    display: inline-block;
    font-size: 23px;
    color: black;
    text-decoration: none;
    margin-left: 25px;
}

.icons-align {
    float: right;
}

.icons {
    width: 28px;
    padding-left: 10px;
}

.H1 {
    font-family: IBM Plex Sans Condensed;
}

:root {
    --clr-primary-400: 263 55% 52%;
    --clr-secondary-400: 217 19% 35%;
    --clr-secondary-500: 219 29% 14%;
    --clr-neutral-100: 0 0% 100%;
    --clr-neutral-200: 210 46% 95%;
    --clr-neutral-300: 0 0% 81%;
    --ff-primary: "Barlow Semi Condensed", sans-serif;
    --fw-400: 500;
    --fw-700: 600;
    --fs-300: 0.6875rem;
    --fs-400: 0.8125rem;
    --fs-500: 1.25rem;
}


/* utilities */

.flow>*:where(:not(:first-child)) {
    margin-top: var(--flow-spacer, 1em);
}

.bg-primary-400 {
    background: hsl(var(--clr-primary-400));
}

.bg-secondary-400 {
    background: hsl(var(--clr-secondary-400));
}

.bg-secondary-500 {
    background: hsl(var(--clr-secondary-500));
}

.bg-neutral-100 {
    background: hsl(var(--clr-neutral-100));
}

.text-neutral-100 {
    color: hsl(var(--clr-neutral-100));
}

.text-secondary-400 {
    color: hsl(var(--clr-secondary-400));
}

.border-primary-400 {
    border: 2px solid #a775f1;
}


/* components */

.testimonial-grid {
    width: min(95%, 70rem);
    margin-inline: auto;
    gap: 1.5rem;
}

.testimonial,
.testimonial-2 {
    padding: 2rem;
    border-radius: 0.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: end;
    border: 2px black;
    border-style: solid;
}

.testimonial-2 {
    justify-items: start;
}

.testimonial img,
.testimonial-2 img {
    width: 65%;
    aspect-ratio: 1;
    border-radius: 12%;
}

.info-txt {
    grid-column: span 2;
}

.centroid {
    width: min(95%, 70rem);
    margin-inline: auto;
}

@media (max-width: 768px) {
    .carousel-inner .carousel-item>div {
        display: none;
    }
    .carousel-inner .carousel-item>div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}


/* display 3 */

@media (min-width: 768px) {
    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(33.333%);
    }
    .carousel-inner .carousel-item-left.active,
    .carousel-inner .carousel-item-prev {
        transform: translateX(-33.333%);
    }
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left {
    transform: translateX(0);
}

.icons-2 {
    width: 30px;
    margin-left: 10px;
}

.bottom-container {
    text-align: center;
    background-color: lightcyan;
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: IBM Plex Sans Condensed;
    margin-top: 75px;
}

.card-img-top {
    width: 35%;
}

@media all and (max-width: 600px) {
    body {
        font-size: x-small;
    }
}